

/*----- Global -----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%; 
    vertical-align: baseline;
    background: transparent;
}
html {
    font-family:'Circular Std Book';
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    opacity: 0.8;
}
a {
    font-size: 16px;
}

.landing {
    background-image: url(../images/bg_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
}
.btnOne {
    border: white solid 2px;
    border-radius: 100px;
    padding: 0.6em 1.75em;
}
.btnTwo {
    background-color: #1F2122;
    border-radius: 100px;
    padding: 0.65em 1.75em;
    display: block;
    width: 160px;
    margin-top: 40px;
    text-align: center;
}

.features {
    background-image: url(../images/bg_02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 750px;
    position: relative;
}

.groups {
    background-image: url(../images/bg_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 700px;
    position: relative;
}


/*----- Landing -----*/


.nav {
    padding-top: 3em;
}
.pages {
    float: right;
    text-align: right;
}
.pages a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    vertical-align: middle;
}
.logo {
    width: 160px;
    vertical-align: middle;
}
.landingWrapper {
    width: 88%;
    margin: auto;
}
.landingContent {
    width: 88%;
    margin: 150px auto 0 auto;
    display: flex;
}
.contentLeft {
    flex: 0 0 55%;
}
.contentRight {
    flex: 0 0 45%;
}
.iphoneHand {
    width: 420px;
    margin-top: -55px;
}
.contentLeft h1, .contentLeft p, .contentLeft a {
    color: white;
    text-decoration: none;
}

/*----- Features -----*/
.date {
    position: absolute;
    top: 150px;
    left: 11%;
}
.time {
    position: absolute;
    bottom: 90px;
    right: 15%;
}
.date h1, .date img, .time h1, .time img {
    display: inline-block;
    vertical-align: middle;
}
.date img, .time img {
    margin-bottom: 10px;
    width: 36px;
}
.date p, .time p {
    display: block;
    margin-left: 44px;
}


/*----- Groups -----*/
.groupsWrapper {
    width: 88%;
    margin: auto;
}
.groupsContent {
    width: 88%;
    margin: 150px auto 0 auto;
    display: flex;
}
.contentLeft img, .contentLeft h1 {
    display: inline-block;
    vertical-align: middle;
}
.contentLeft img {
    margin-bottom: 10px;
    width: 36px;
}
.groupsContent > .contentLeft p {
    margin-left: 42px;
}
.groupsImage {
    width: 500px;
    margin-top: -50px;
}

.footer {
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.footer p {
    color: #454D4E;
    display: inline-block;
}
.pagesRight {
    float: right;
}
.pagesRight p {
    margin-left: 25px;
}



/* Font */


@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), url('../fonts/Circular/CircularStd-Book.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium'), url('../fonts/Circular/CircularStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Bold';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold'), url('../fonts/Circular/CircularStd-Bold.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold Italic'), url('../fonts/Circular/CircularStd-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Book Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book Italic'), url('../fonts/Circular/CircularStd-BookItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium Italic'), url('../fonts/Circular/CircularStd-MediumItalic.woff') format('woff');
}








